<!DOCTYPE html>
<html>

  <head>
    <title>Coveo Related Results</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0">
    <script src="CoveoJsSearch/js/CoveoJsSearch.WithDependencies.js"></script>
    <script src="src/CoveoRelatedResults.js"></script>
    <link rel="stylesheet" href="CoveoJsSearch/css/CoveoFullSearch.css"/>
    <style type="text/css">
    #RelatedResults{
      float:right;
      min-width: 25%;
    }
    .CoveoResultList{
      overflow: hidden;
      max-width: 75%;
    }
    </style>
    <script type="text/javascript">
      $(function () {
        Coveo.Rest.SearchEndpoint.configureSampleEndpoint();
        new CoveoRelatedResults("#search", "#RelatedResults", '#RelatedResultsTemplate', "@licategoryid", "@licategoryid", "@objecttype==category");
        $('#search').coveo('init');
      });
    </script>
  </head>

  <body id="search" class='CoveoSearchInterface' data-enable-history="true" data-hidden-expression="@licategoryid">
    <div class="CoveoSearchBox" data-activate-omnibox="true"></div>
    <div id="RelatedResults"></div>
    <div class="CoveoResultList" data-wait-animation="fade"></div>
    <div class="CoveoPager"></div>
    <script id="RelatedResultsTemplate" type="text/x-underscore-template">
      <div><a href="<%= result.clickUri %>"><%= result.title %> (<%= groubBy.numberOfResults %>)</a></div>
    </script>
  </body>

</html>