<!DOCTYPE html>
<html>

  <head>
    <title>All Content</title>
    <meta about="Search all content at once."/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0">
    <script src="js/CoveoJsSearch.WithDependencies.js"></script>
    <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCm-i7I611b3HxtQOCt3NlMtl5-oFX9Oc&sensor=false"> </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="js/CoveoGoogleMap.js"></script>
    <script src="js/CoveoMarkerClusterer.js"></script>
	<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

	 <script src="js/CoveoResultRelatedResults.js"></script>
    <script src="js/d3.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="Calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <script src="Calendar/moment.min.js"></script>
    <script src="Calendar/fullcalendar.min.js"></script>

    <link rel="stylesheet" href="css/CoveoFullSearch.css"/>
<style>

.calAvail{  background-color:#42d692; }
.calAvailHalf { background-color:#ee8a36;}
.calNotAvail { background-color:#d83a28;}
.ProposedHalf { background-color:#ee8a36;}
.Holiday { border-color: green }
.Training { border-color: red}
.Selected { border-top: 2px;border-bottom:2px;border-color:black}
.NotSelected { zoom: 1;
	filter: alpha(opacity=20);
	opacity: 0.2; }
.calReserveHalf { background-color:#ee8a36;}
.calReserved { background-color:#d83a28;}
.Calendar h2 {
    font-size:1.2em;
}
.fc-bg tr td{
    height: 20px;
}

.fc-content-skeleton tr {
    height: 2px;
}
</style>
    <script type="text/javascript">
	  var FieldnameAvail="@mydateavail";
	  var FieldnameAvailClean="mydateavail";
	  var NrOfMonths=0;
	  //Construct the query to get the dates which are selected
	  function getFullDates(min,max)
	  {
			var result="";
			var minDate = new Date(min);
			var maxDate = new Date(max);
			var NrofDays=0;
			var one_day=1000*60*60*24;
			NrOfMonths=maxDate.getMonth()-minDate.getMonth()+1;
			NrofDays=Math.round((maxDate.getTime()-minDate.getTime())/one_day);
            for (i = 0; i <= NrofDays; i++)
            {
                var check = new Date(minDate.getFullYear(),minDate.getMonth(),minDate.getDate()+i);
				//Do not add saturday and sundays
                if (check.getDay()%6==0)
                {
                }
                else
                {

                    if (result == "")
                    {
                        result = FieldnameAvail + "=\"" + $.datepicker.formatDate('yymmdd', check) /*+ Hours.ToString() */+ "\"";
                    }
                    else
                    {
                        result = result + " AND " + FieldnameAvail + "=\"" + $.datepicker.formatDate('yymmdd', check) /*+ Hours.ToString() */+ "\"";
                    }
                }
            }
            return result;
	  }
	  
      $(function () {
	    //Used for the related results on a result
	    
	    Coveo.Rest.SearchEndpoint.configureOnPremiseEndpoint('http://localhost:8080/rest/search');
        
        $('#search').coveo('init');
		
		//Hook up to populate breadcrumb for the map
		$('#search').on('populateBreadcrumb', function(e, args){
                if (mapQuery!=null)
				{
				   if(mapQuery!="@uri")
				   {
                    var container = "<div>Filtered on map location.</div>";
                    args.breadcrumbs.push({ element: container });
					}
                }
				if (mapQueryCircle!=null)
				{
				   if(mapQueryCircle!="@uri")
				   {
                    var container = "<div>Filtered on only contents within the boundary of the circle location.</div>";
                    args.breadcrumbs.push({ element: container });
					}
                }
		});
		
		//Hook up to the clearbreadcrumb
		$('#search').on('clearBreadcrumb', function(e, args){
                mapQuery=null;
				mapQueryCircle=null;
				resetMap();
				$('#search').coveo('executeQuery');
		});
		
		//When we have results rebuild the map
  	    $('#search').on('querySuccess', function (e, args) {
			mapQueryResults = args.queryBuilder.computeCompleteExpression();
			if (Coveo.Utils.isNullOrUndefined(mapQueryResults))
			{
				mapQueryResults='@uri';
			}
			allreset=false;
			createResultsMap(mapQueryResults, "mylat","mylon");
		});
		
       //Initialize the date pickers
       var dates = $( "#CALMinimumDateTxt, #CALMaximumDateTxt" ).datepicker({
            defaultDate: '+0',
            changeMonth: true,
            dateFormat:'dd-mm-yy',
            showAnim:'slideDown',
            showWeek:true,
            showButtonPanel:true,
            firstday:1,
            numberOfMonths: 3,
            onSelect: function( selectedDate ) {
				var option = this.id == "CALMinimumDateTxt"? "minDate" : "maxDate",
				instance = $( this ).data( "datepicker" ),
				date = $.datepicker.parseDate('dd-mm-yy', selectedDate, instance.settings );
				dates.not( this ).datepicker( 'option', option, date );
				$('#CALMinimumDateTxt').trigger('change');
            }
			});
		//Hook up to the query to add the dates (if needed)	
		//Also add the mapquery's and the nested queries
		$('#search').on("buildingQuery", function (e, args) {
		            var radiosel=$('input:radio[name=avail]:checked').val();
					if ( radiosel!='All')
					{
					   var addquery=getFullDates($('#CALMinimumDateTxt').datepicker('getDate'),$('#CALMaximumDateTxt').datepicker('getDate'));
					   if (radiosel=='Avail')
					   {
							args.queryBuilder.advancedExpression.add("("+addquery+")");
					   }
					   else
					   {
							args.queryBuilder.advancedExpression.add("NOT ("+addquery+")");
					   }
					}
					if (mapQuery!=null)
					{
					   args.queryBuilder.advancedExpression.add(mapQuery);
					}
					if (mapQueryCircle!=null)
					{
					   args.queryBuilder.advancedExpression.add(mapQueryCircle);
					}
					//We also want to add a nested query against the resume's
					// add the disjunction query to get all comments, attachments and tickets matching the query
					var basicExpression = args.queryBuilder.expression.build();
					var completeQuery = (typeof basicExpression==='undefined') ? "":"(" + basicExpression + ")";
			
					var advancedExpression = "";//!args.Builder.AdvancedExpression.Empty ? " (" + args.Builder.AdvancedExpression.ToString() + ")" : "";

					if (completeQuery!="") {
						//args.queryBuilder.disjunctionExpression.add("@sysfiletype=activedirperson @employeenumber=[[@mycvemp]   ("+completeQuery+") "+advancedExpression+" ]");
					}
			});
			
		$('.CoveoSearchInterface').on('newResultDisplayed', function(e, args) {
		    //Add the calendar to the result, only if it is selected
			var mycal=$(args.item).find('.Calendar');
			mycal.empty();
			
			if ($('#CALMaximumDateTxt').val()!="" && $('#CALMinimumDateTxt').val()!="")
			{
			    var Start=$('#CALMinimumDateTxt').datepicker('getDate');
				var StartDate=$('#CALMinimumDateTxt').datepicker('getDate');
				var EndDate=$('#CALMaximumDateTxt').datepicker('getDate');
				NrOfMonths=$('#CALMaximumDateTxt').datepicker('getDate').getMonth()-$('#CALMinimumDateTxt').datepicker('getDate').getMonth();
				for(i=0;i<=NrOfMonths;i++)
				{
					var newcal = Coveo.$('<div/>').addClass('mycalendar'+i).appendTo(mycal);
					newcal.css('width','200px').css('display','inline-block').css('margin','5px');
					newcal.fullCalendar({
							height: 150,
							width: 150,
							weekNumbers: false,
							columnFormat: 'dd',
							defaultDate: Start,
							contentHeight: 'auto',
							aspectRatio: 5,
							header: {
								left: 'title',
								center: '',
								right: ''
							},
							dayRender: function (date, cell) {
							        if (date<StartDate || date>EndDate)
									{
									   //disable it
									   cell.addClass("NotSelected");
									}
									else
									{
									   //disable it
									   cell.addClass("Selected");
									}
									//If our result contains this date then available else not
									var curdate=moment(date).format('YYYYMMDD');
									if (args.result.raw[FieldnameAvailClean].indexOf(curdate)!=-1)
									{
										//disable it
									   cell.addClass("calAvail");
									   cell.attr('title','Available');
									}
									else
									{
										//disable it
									   cell.addClass("calNotAvail");
									   cell.attr('title','Not Available');
									}
								}							
						});
					Start=new Date(Start.getFullYear(),Start.getMonth()+1,Start.getDate());
				}
			}
		});
	});
		
    </script>
  </head>

  <body id="search" class='CoveoSearchInterface' data-enable-history="true">

    <div class="coveo-tab-section">
      <a class="CoveoTab"
         data-id="All"
         data-caption="People"
         data-icon="coveo-sprites-tab-all-content"
		 data-expression='@sysworkemail @mydateavail'
		 ></a>
      
    </div>
    <div class="coveo-search-section">
      <div class="coveo-logo-column">
        <div class="coveo-logo"></div>
      </div>
      <div class="coveo-searchBox-column" >
        <div class="coveo-search-section-wrapper">
          <div class="CoveoSettings" data-include-in-menu=".CoveoShareQuery,.CoveoPreferencesPanel"></div>
          <div class="CoveoSearchBox" data-activate-omnibox="true"></div>
        </div>
      </div>
	  <div class="coveo-logo-column">
      </div>
      <div class="coveo-searchBox-column" >
        <div class="coveo-search-section-wrapper">
		  From: <input type="text" id="CALMinimumDateTxt">  To: <input  type="text" id="CALMaximumDateTxt"><br>
		  Show availability: <input type="radio" name="avail" value="All" checked>All <input type="radio" name="avail" value="Avail">Only Available people
		  <input type="radio" name="avail" value="NotAvail">Only NOT Available people
        </div>
      </div>
    </div>

    <div class="coveo-results-section">
      <div class="coveo-facet-column">
        <div data-tab="All">

          <div class="CoveoFacetRange" data-tab="All" data-title="Relative date distribution" data-field="@sysdate"
               data-date-field="true" data-range-slider="true" data-slider-graph-steps="20"
               data-slider-start="2007/12/31"
               data-slider-end="2014/12/31"></div>

          <div class="CoveoFacet"
               data-title="Type"
               data-field="@objecttype"
               data-allow-toggling-operator="true"
               data-show-icon="true"
               data-tab="All"></div>

          <div class="CoveoFacet"
               data-title="File Type"
               data-field="@sysfiletype"></div>

          <div class="CoveoFacet"
               data-title="Author"
               data-field="@sysauthor"></div>
        </div>
      </div>

      <div class="coveo-results-column">
        <div class="CoveoShareQuery"></div>
        <div class="CoveoPreferencesPanel">
          <div class="CoveoResultsPreferences"></div>
          <div class="CoveoResultsFiltersPreferences"></div>
        </div>
        <div class="CoveoBreadcrumb"></div>

        <div class="coveo-results-header">
          <div class="coveo-summary-section">
            <span class="CoveoQuerySummary"></span>
            <span class="CoveoQueryDuration"></span>
          </div>
          <div class="coveo-sort-section">
            <span class="CoveoSort" data-sort-criteria="relevancy">Relevance</span>
            <span class="CoveoSort" data-sort-criteria="date descending,date ascending">Date</span>
          </div>
          <div class="coveo-clear"></div>
        </div>

        <div class="CoveoHiddenQuery"></div>
        <div class="CoveoDidYouMean"></div>
        <div class="CoveoErrorReport" data-pop-up="false"></div>
<div id="map-container" >
			<div style="width:700px;height:300px" id="map-canvas"></div>
		</div>
        <div class="CoveoResultList" data-wait-animation="fade">
          <script id="Default" type="text/x-underscore-template">
           <div style="margin:5px" width="100px">
			<%= thumbnail(undefined,undefined,{'width':'100px'})%>
			</div>

            <div class="coveo-date"><%-dateTime(raw.sysdate)%></div>

            <div class="coveo-title">
              <a class="CoveoResultLink" ><%=title?highlight(title, titleHighlights):clickUri%></a>

              <%= loadTemplate("DefaultQuickView") %>
            </div>

            <div class="coveo-excerpt">
              <%=highlight(excerpt, excerptHighlights)%>
            </div>

            <div class="CoveoPrintableUri"></div>

            <table class="CoveoFieldTable">
              <tr data-field="@sysauthor" data-caption="Author"></tr>
            </table>
            <div class="Calendar" style=""></div>
          </script>
		 
          <script id="DefaultQuickView" type="text/x-underscore-template">
            <div class="CoveoQuickView" data-title="<%= attrEncode(fromFileTypeToIcon(obj) + title) %>"
                 data-fixed="true"
                 data-template-id="DefaultQuickViewContent">
            </div>
          </script>

          <script id="DefaultQuickViewContent" type="text/x-underscore-template">
            <div class="coveo-quick-view-header">
              <table class="CoveoFieldTable">
                <tr data-field="@sysdate" data-caption="Date" data-helper="dateTime"></tr>
                <tr data-field="@objecttype" data-caption="Type"></tr>
              </table>
            </div>
            <div class="CoveoQuickViewDocument"></div>
          </script>

          <script class="result-template" type="text/x-underscore-template">
            <%=
            loadTemplates({
            'Default' : 'default'		
			
            })
            %>
			
          </script>

        </div>
			  
        <div class="CoveoPager"></div>
      </div>
    </div>

  </body>

</html>