<!DOCTYPE html>
<html>

<head>
  <title>Lithium</title>
  <meta about="Search Lithium content."/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="format-detection" content="telephone=no">
  <script src="phonegap.js"></script>
  <script src="inappbrowser.js"></script>
  <script src="js/CoveoJsSearch.WithDependencies.js"></script>
  <link rel="stylesheet" href="css/CoveoMobileSearch.css"/>

  <script type="text/javascript">
    $(function () {
      Coveo.Rest.SearchEndpoint.configureSampleEndpoint();

      /*

       // Use this code to use a cloud index
       Coveo.Rest.SearchEndpoint.configureCloudEndpoint('OrganizationName');

       // Use this code to use an on-premise index
       Coveo.Rest.SearchEndpoint.configureOnPremiseEndpoint('http://server:8080/Coveo/Rest');

       // Use this code to use a custom endpoint
       Coveo.Rest.SearchEndpoint.endpoints["default"] = new Coveo.Rest.SearchEndpoint({
       restUri: 'http://server:8080/Coveo/Rest'
       });

       */

      $('#search').coveo('init');
    });
  </script>
</head>

<body id="search" class="CoveoSearchInterface coveo-togglable-body coveo-hide-until-loaded" data-hide-until-first-query="false" data-enable-history="true">
<div class="CoveoFolding"
     data-field="@litopicurl"
     data-expand-expression="@objecttype==Message"
     data-rearrange="date ascending"
     data-tab="Lithium"></div>

<div class="coveo-tab-section">
  <div class="coveo-logo-section CoveoToggleButton"
       data-target="coveo-togglable-body"
       data-toggle-class="coveo-slide-right"
       data-toggle-glass="true">

    <div class="coveo-logo"></div>
  </div>

  <div class="coveo-tab-section-spacer">Tabs</div>

  <a class="CoveoTab"
     data-id="Lithium"
     data-caption="Lithium"
     data-icon="coveo-sprites-tab-lithium"
     data-expression="@litopicid @objecttype==Message"
     data-sort="date descending"></a>
</div>

<div class="coveo-search-section">
  <div class="coveo-searchSectionTabButton CoveoToggleButton"
       data-target="coveo-togglable-body"
       data-toggle-class="coveo-slide-right" data-toggle-glass="true">
    <div class="coveo-search-section-tab-icon"></div>
  </div>

  <div class="coveo-searchSectionFacetsButton CoveoToggleButton"
       data-target="coveo-togglable-body"
       data-toggle-class="coveo-slide-left"
       data-toggle-glass="true">
    <div class="coveo-search-section-facets-icon"></div>
  </div>

  <a class="CoveoSearchButton"></a>

  <div class="coveo-container">
    <input type="text" class="CoveoQueryBox" autocapitalize="off" autocorrect="off"/>
  </div>
</div>

<div class="coveo-results-section">
  <div class="coveo-facet-column">
    <div class="coveo-facet-header CoveoToggleButton" data-target="coveo-togglable-body" data-toggle-class="coveo-slide-left" data-toggle-glass="true">
      <div class="coveo-icon"></div>
      <div class="coveo-facets-close">Done</div>
    </div>

    <div class="coveo-facet-container">
      <div data-tab="Lithium">
        <div class="CoveoFacet"
             data-title="Category"
             data-field="@licategoryshorttitle"></div>

        <div class="CoveoFacet"
             data-title="Board"
             data-field="@liboardshorttitle"></div>

        <div class="CoveoFacet"
             data-title="Author"
             data-field="@limessageauthor"></div>
      </div>
    </div>
  </div>

  <div class="coveo-results-column">
    <div class="CoveoErrorReport"></div>
    <div class="CoveoDidYouMean"></div>

    <div class="coveo-result-header-section">
      <div class="CoveoCurrentTab"></div>

      <div class="coveo-sort-section">
        <span class="CoveoSort" data-sort-criteria="relevancy">Relevance</span>
        <span class="CoveoSort" data-sort-criteria="date descending,date ascending">Date</span>
      </div>

      <div class="CoveoBreadcrumb"></div>
    </div>

    <div class="CoveoResultList" data-wait-animation="fade">
      <script id="MobileLithiumThread" type="text/x-underscore-template">
        <div class="coveo-lithium-result">
          <div class="coveo-title">
            <div class="coveo-date"><%-dateTime(raw.sysdate)%></div>
            <div class="coveo-icon coveo-sprites-documentType-thread_x16"></div>
            <a class="CoveoResultLink"><%=title?highlight(title, titleHighlights):clickUri%></a>
            <%= loadTemplate("MobileLithiumQuickView") %>
          </div>

          <div class="coveo-lithium-header">
            <span class="coveo-lithium-from">
              From: <span class="CoveoFieldValue" data-field="@limessageauthor"></span>
            </span>

            <span class="coveo-lithium-to">
              To: <span class="CoveoFieldValue" data-field="@liboardshorttitle"></span>
            </span>
          </div>

          <div class="coveo-excerpt">
            <%=highlight(excerpt, excerptHighlights)%>
          </div>

          <div class="CoveoResultFolding"
               data-result-template-id="MobileLithiumChildResult"
               data-normal-caption="MostRelevantPosts"
               data-expanded-caption="CompleteThread"
               data-more-caption="ShowCompleteThread"
               data-less-caption="ShowOnlyTopMatchingPosts"></div>
        </div>
      </script>

      <script id="MobileLithiumChildResult" type="text/x-underscore-template">
        <div class="coveo-date"><%-dateTime(raw.sysdate)%></div>

        <div class="coveo-lithium-header">
          <span class="coveo-lithium-from">
            From: <span class="CoveoFieldValue" data-field="@limessageauthor"></span>
          </span>
        </div>

        <div class="coveo-excerpt coveo-show-if-normal">
          <a class="CoveoResultLink">
            <%=highlight(firstSentences, firstSentencesHighlights)%>
          </a>
        </div>

        <div class="coveo-excerpt coveo-show-if-expanded">
          <a class="CoveoResultLink">
            <%=raw.limessagebody%>
          </a>
        </div>
      </script>

      <script id="MobileLithiumQuickView" type="text/x-underscore-template">
        <div class="CoveoQuickView" data-title="<%= attrEncode(fromFileTypeToIcon(obj) + title) %>" data-template-id="MobileLithiumQuickViewContent">
        </div>
      </script>

      <script id="MobileLithiumQuickViewContent" type="text/x-underscore-template">
        <div class="CoveoQuickViewDocument" data-maximum-document-size="50000"></div>
      </script>

      <script class="result-template" type="text/x-underscore-template">
        <%=
        loadTemplates({
        'MobileLithiumThread' : raw.sourcetype == 'Lithium'
        })
        %>
      </script>
    </div>

    <div class="CoveoPager" data-number-of-pages="3"></div>
    <div class="CoveoQuerySummary"></div>
  </div>
</div>
</body>

</html>
