.CoveoSearchInterface {
  .CoveoEmailActions {
    padding-bottom: 10px;

    .CoveoEmailAction {
      background: #f7f7f7;
      text-decoration: none;
      display: inline-block;
      margin-right: 15px;
      border: 1px solid #cccccc;
      padding: 3px;
      background-color: #f7f7f7;
      font-size: 15px;
      color: #8f8f8f;
      border-radius: 3px;
    }
  }
}