
.CoveoFacet {
  width:270px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  box-shadow: none;
  border-radius: 0;

  label.coveo-with-computed-field {
    @include coveo-facet-value-for-mobile-with-computed-field;
  }

  .coveo-selected {
    font-weight:bold;
  }

  .coveo-header {
    padding: 0;
    .coveo-title {
      height:40px;
      padding-top:11px;
      font-size: 17px;
      font-weight: bold;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      max-width:100%;
    }

    > .coveo-icon {
      margin-top:12px;
    }

    .coveo-wait-animation {
      margin-top:12px;
    }

    .coveo-collapse, .coveo-expand {
      @include coveo-generic-button-no-hover-effect;
      border:none;
      width:40px;
      height:40px;
      text-align:center;
      .coveo-icon{
        margin-top:10px;
      }
    }

    .coveo-settings, .coveo-eraser, .coveo-operator {
      @include coveo-generic-button-no-hover-effect;
      border:none;
      width:40px;
      height:40px;
      text-align:center;

      .coveo-icon{
        margin-top:10px;
      }
    }
  }

  .coveo-footer {
    line-height: 40px;
    border-bottom: 1px solid $color-medium-dark-gray;
    text-align: left;

    &.coveo-empty {
      clear: both;
    }

    .coveo-more {
      padding: 0px 5px 0px 10px;
      line-height: 40px;
    }

    .coveo-more:after {
      content: "";
      @extend .coveo-sprites-facet-collapsed;
      position: relative;
      top:4px;
      margin-left: 5px;
    }

    .coveo-less:after {
      content: "";
      @extend .coveo-sprites-facet-expanded;
      position: relative;
      top:4px;
      margin-left: 5px;
    }
  }
  
  .coveo-selectable:hover{
    background-color: transparent;
  }

  .coveo-values .coveo-value {
    @include coveo-facet-value-for-mobile;
  }

  .coveo-search-button-mobile {
    line-height: 40px;
    color: #666666;
    text-align: right;
    display: inline-block;
    float: right;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:before {
      content: "";
      @extend .coveo-sprites-facet-facetsearch;
      margin-right:5px;

    }
  }

  .coveo-value .coveo-icon {
    vertical-align: middle;
  }
}

.coveo-facet-header {
  display:none;
  font-size: 12px;
  cursor: pointer;
  padding: 15px 10px;
  border-bottom: 1px solid #d3d3d3;
  background: #f1f1f1;
  height: 51px;
  line-height: 20px;
  z-index: 1000;
  position: absolute !important;
  left:0;
  right:0;
  @include transform(translate3d(0,0,100px));

  .coveo-icon {
      display: inline-block;
      margin-left: 6px;
      margin-right: 6px;
      vertical-align: middle;
      @extend .coveo-sprites-facet-arrow_back;
  }
  .coveo-facets-close {
     vertical-align: middle;
     display: inline-block;

  }
}

.coveo-facet-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  padding-right: 10px;
  padding-top: 0px;
}

.coveo-facet-column{
  @include transform(translate3d(0,0,100px));
  background: #f8f8f8;
  border-left: 1px solid #d3d3d3;
  overflow-x:hidden;
  position:absolute;
  right: 0;
  top: 0;
  bottom:0;
  width: 280px;
  overflow: hidden;
}

@include smallMobile() {
  .coveo-facet-header {
    cursor: pointer;
    display: block;
  }
  .coveo-facet-column{
    z-index: 1000;
    top: -52px;
    right: -280px;
  }
  .coveo-facet-container {
    padding-top: 52px;
  }
  
}

.coveo-modalBox.coveo-mobile-facet-search {
  width: 100%;
  height: 100%;

  > .coveo-wrapper {

    width: 100%;
    height: 100%;
    max-width:100%;
    max-height:100%;
    padding: 0;
    margin: 0;

    > .coveo-body {
      height: 93%;
      padding: 0px 10px 10px 10px;

      > .coveo-search {
        margin: 8px 0px 5px 0px;

        .coveo-magnifier, .coveo-wait-animation {
          margin:0;
          position: absolute;
          top: 24px;
          left:20px;
        }

        .coveo-magnifier {
          @extend .coveo-sprites-facet-facetsearch;
        }

        .coveo-wait-animation {
          @extend .coveo-sprites-facet-spin_facet_search;
          @include animation-name(coveo-spin);
          @include animation-timing-function(linear);
          @include animation-duration(1s);
          @include animation-iteration-count(infinite);
        }

        .coveo-middle {
          input {
            line-height: 30px;
            width: 100%;
            border: 1px solid silver;
            border-radius: 2px;
            padding-left: 25px;
          }
        }

        .coveo-clear {
          display: none;
        }
      }

      > .coveo-search-results {
        position:relative;
        border:none;
        box-shadow:none;
        padding: 10px;

        .coveo-value {
          @include coveo-facet-value-for-mobile;
        }

        .coveo-selectable:hover, .coveo-select-all, .coveo-selectable.coveo-current {
          background-color:white;
        }

        .coveo-checkbox {
          @include coveo-checkbox-for-facet-value;
        }

        .coveo-label {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 13px;
        }


        .coveo-count {
          color: #8a8a8a;
          font-size: 13px;
          margin-left: 10px;
        }

        .coveo-select-all {
          line-height: 36px;
          .coveo-mobile-facet-search-select-all {
            @extend .coveo-sprites-quickView-quickview_next;
            position: relative;
            top: 2px;
            margin-left: 5px;
          }
        }

        .coveo-selected div.coveo-checkbox{
          @include coveo-checkbox-for-mobile-facet-selected;
          span {
            vertical-align:top;
          }
        }

        .coveo-selected:hover div.coveo-checkbox{
          @include coveo-checkbox-for-mobile-facet-selected-hovered;
        }

        label {
          width : 100%;
          display:block;
          margin: 5px 0px 5px 0px;

          &.coveo-with-computed-field {
            @include coveo-facet-value-for-mobile-with-computed-field;
            .coveo-count {
              left: 28px;
            }
          }
        }
      }
    }
  }
}

.coveo-settings-popup {
  z-index: 9999;
  @include transform(translate3d(0,0,110px));
}