.coveo-modalBox {
  font-family:arial, sans-serif;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  font-size:14px;
  text-align: center;
  z-index:10000;
  -webkit-transform: translate3d(0, 0, 200px);
  -moz-transform: translate3d(0, 0, 200px);
  -ms-transform: translate3d(0, 0, 200px);
  -o-transform: translate3d(0, 0, 200px);
  transform: translate3d(0, 0, 200px);
}
.coveo-modalBox:before {
  content:'';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.coveo-modalBox > .coveo-overlay {
  background:#000;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0.8;
}

.coveo-modalBox > .coveo-wrapper {
  position:relative;
  display:inline-block;
  text-align: left;
  line-height: normal;
  vertical-align: middle;
  overflow: auto;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
  border: 1px solid #666;
  background:#fff;
  max-height: 95%;
  max-width: 95%;
}


.coveo-modalBox.coveo-fullscreen > .coveo-wrapper {
  position:absolute;
  display:block;
  top:0;
  left:0;
  right:0;
  bottom:0;
  box-shadow: none;
  border: none;
}

.coveo-modalBox > .coveo-wrapper > .coveo-title {
  font-size: 14px;
  background:#f6f6f6;
  border-bottom:1px solid #d6d6d6;
  padding:8px 16px;
  font-weight: bold;
}

.coveo-modalBox.coveo-fullscreen  > .coveo-wrapper > .coveo-title {
  margin-left:0;
  margin-right:0;
  border-top-left-radius:0;
  border-top-right-radius:0;
}

.coveo-modalBox > .coveo-wrapper > .coveo-buttons {
  border-top:1px solid #eee;
  background:#fff;
  box-sizing:border-box;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  padding: 12px 16px;
}

.coveo-modalBox.coveo-fullscreen > .coveo-wrapper > .coveo-buttons {
  margin-left:0;
  margin-right:0;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}

.coveo-modalBox > .coveo-wrapper > .coveo-body {
  overflow-y: auto;
  background:#FFF;
  position:relative;
}

.coveo-modalBox.coveo-fullscreen > .coveo-wrapper > .coveo-body {
  margin-left:0;
  margin-right:0;
  position:absolute;
  bottom:34px;
  left:0;
  right:0;
  top:33px;
}
.coveo-modalBox.coveo-fullscreen.coveo-noButton > .coveo-wrapper > .coveo-body {
  bottom:0;
}