.CoveoQueryBox {
  padding: 0px 8px;
  margin: 0px;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid $color-query-box-border;
  border-top-color: #C1C1C1;
  font-family: Arimo, $helvetica;
  font-size: 18px;
  padding-right:40px;
}

.coveo-query-box-clear {
  position: relative;
  margin-top:-27px;
  float: right;
  margin-right: 15px;
  &:hover {
    cursor:pointer;
  }
  .coveo-icon{
    @extend .coveo-sprites-queryBox-clear;
  }
}