.CoveoQuickView {
  display:inline-block;

  .coveo-icon-for-quickview {
    border: 1px solid #cccccc;
    padding: 3px;
    background-color: $color-gray-background;
    font-size: 10px;
    color: #8f8f8f;
    border-radius: 3px;
    &:hover {
      cursor:pointer;
      background-color: white;
    }
  }
}

.CoveoQuickViewDocument {
  overflow: hidden;
}

.coveo-quickview-header {
  .coveo-term * {
    vertical-align: middle;
  }
  margin-bottom: 10px;

  .coveo-term {
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    height: 26px;
    .coveo-term-left-arrow {
      display: inline-block;
      padding: 5px;
      height: 26px;
      .coveo-term-left-arrow-icon {
        @extend .coveo-sprites-quickView-quickview_previous;
      }
    }
    .coveo-term-right-arrow {
      display: inline-block;
      padding: 5px;
      height: 26px;
      .coveo-term-right-arrow-icon {
        @extend .coveo-sprites-quickView-quickview_next;
      }
    }
    .coveo-term-name {
      font-size: 14px;
      padding: 5px 0;
    }
  }
}

.coveo-modalBox.coveo-quick-view {
  > .coveo-wrapper {
    width: 95%;
    height: 95%;
    max-width: 95%;
    max-height: 95%;
    position:relative;

    .coveo-quick-view-header{
      padding: 10px 0px 10px 0px;

      .CoveoFieldTable {
        @include coveo-table-to-display-field-inside-result;

        .CoveoFieldValue {
          @include coveo-clickable-field-value-inside-result;
        }
      }
    }

    > .coveo-body {
      position:absolute;
      top:40px;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      overflow-y: hidden;

      > .coveo-title {
        .coveo-icon {
          margin-right: 5px;
        }
        padding-bottom: 10px;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: bold;
        font-size: 1.2em;
        color: black;
      }
    }
  }
}

.coveo-quickview-header {
  min-height: 36px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.coveo-iframeWrapper {
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
    width: 100%;
    height: 100%;
}

.coveo-iframeWrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
    vertical-align: top;
    position: absolute;
}

@mixin QuickViewContainer($nested:'&'){
  #{$nested} {
    .CoveoQuickView {
      visibility: hidden !important;
    }
  }
  &:hover {
    #{$nested} {
      .CoveoQuickView {
        visibility: visible !important;
      }
    }
  }
}