/* glue: 0.3 hash: 1ff83539ef */
.coveo-sprites-common-get_started,
.coveo-sprites-common-logo_light_large,
.coveo-sprites-common-coveo,
.coveo-sprites-common-poweredbycoveo,
.coveo-sprites-common-logo_light,
.coveo-sprites-preferencesPanel-toggle_on,
.coveo-sprites-preferencesPanel-toggle_off,
.coveo-sprites-common-login_user,
.coveo-sprites-common-lock,
.coveo-sprites-facet-openinterfaces,
.coveo-sprites-facet-openfacets,
.coveo-sprites-searchButton-searchbutton,
.coveo-sprites-common-thumbup_inactive,
.coveo-sprites-common-thumbup:active,
.coveo-sprites-common-thumbdown_inactive,
.coveo-sprites-common-thumbdown:active,
.coveo-sprites-common-system,
.coveo-sprites-common-star_placeholder,
.coveo-sprites-common-star_inactive,
.coveo-sprites-common-star:active,
.coveo-sprites-common-settings,
.coveo-sprites-tab-sharepoint,
.coveo-sprites-tab-salesforce,
.coveo-sprites-tab-lithium,
.coveo-sprites-tab-jira,
.coveo-sprites-tab-googledrive,
.coveo-sprites-tab-email,
.coveo-sprites-tab-dropbox,
.coveo-sprites-tab-checkmark_selected-on_dark_bg,
.coveo-sprites-tab-all-content,
.coveo-sprites-searchButton-spin,
.coveo-sprites-quickView-quickview_previous,
.coveo-sprites-quickView-quickview_next,
.coveo-sprites-quickView-quickview,
.coveo-sprites-queryBox-clear,
.coveo-sprites-preferencesPanel-table-edit,
.coveo-sprites-preferencesPanel-table-delete,
.coveo-sprites-preferencesPanel-table-cancel,
.coveo-sprites-preferencesPanel-table-apply,
.coveo-sprites-preferencesPanel-menu_preferences,
.coveo-sprites-pager-previous,
.coveo-sprites-pager-next,
.coveo-sprites-menu-menu_sortdirection,
.coveo-sprites-menu-menu_sortby,
.coveo-sprites-menu-menu_shareresult,
.coveo-sprites-menu-menu_searchin,
.coveo-sprites-menu-menu_saveoption,
.coveo-sprites-menu-menu_opencontactinfoin,
.coveo-sprites-menu-menu_avancedsearch,
.coveo-sprites-fileType-objectType-user,
.coveo-sprites-fileType-objectType-thread,
.coveo-sprites-fileType-objectType-task,
.coveo-sprites-fileType-objectType-rss,
.coveo-sprites-fileType-objectType-product,
.coveo-sprites-fileType-objectType-opportunity,
.coveo-sprites-fileType-objectType-note,
.coveo-sprites-fileType-objectType-message,
.coveo-sprites-fileType-objectType-lead,
.coveo-sprites-fileType-objectType-kb,
.coveo-sprites-fileType-objectType-contract,
.coveo-sprites-fileType-objectType-contact,
.coveo-sprites-fileType-objectType-comment,
.coveo-sprites-fileType-objectType-case,
.coveo-sprites-fileType-objectType-campaign,
.coveo-sprites-fileType-objectType-board,
.coveo-sprites-fileType-objectType-answer,
.coveo-sprites-fileType-objectType-account,
.coveo-sprites-fileType-formats-zip,
.coveo-sprites-fileType-formats-xml,
.coveo-sprites-fileType-formats-video,
.coveo-sprites-fileType-formats-text,
.coveo-sprites-fileType-formats-spreadsheet,
.coveo-sprites-fileType-formats-slideshow,
.coveo-sprites-fileType-formats-pdf,
.coveo-sprites-fileType-formats-image,
.coveo-sprites-fileType-formats-html,
.coveo-sprites-fileType-formats-folder,
.coveo-sprites-facet-spin,
.coveo-sprites-facet-show_facet,
.coveo-sprites-facet-moreoption,
.coveo-sprites-facet-modeor,
.coveo-sprites-facet-modeand,
.coveo-sprites-facet-expanded,
.coveo-sprites-facet-collapsed,
.coveo-sprites-facet-clear_facet,
.coveo-sprites-documentType-zip,
.coveo-sprites-documentType-year,
.coveo-sprites-documentType-won,
.coveo-sprites-documentType-webpage,
.coveo-sprites-documentType-video,
.coveo-sprites-documentType-user,
.coveo-sprites-documentType-urgent,
.coveo-sprites-documentType-troubleshooting,
.coveo-sprites-documentType-topic,
.coveo-sprites-documentType-to,
.coveo-sprites-documentType-timeline,
.coveo-sprites-documentType-text,
.coveo-sprites-documentType-task,
.coveo-sprites-documentType-suspended,
.coveo-sprites-documentType-support,
.coveo-sprites-documentType-status,
.coveo-sprites-documentType-started,
.coveo-sprites-documentType-stage,
.coveo-sprites-documentType-spreadsheet,
.coveo-sprites-documentType-source,
.coveo-sprites-documentType-slideshow,
.coveo-sprites-documentType-secure,
.coveo-sprites-documentType-salesforce,
.coveo-sprites-documentType-reviewed,
.coveo-sprites-documentType-resolved,
.coveo-sprites-documentType-report,
.coveo-sprites-documentType-renewed,
.coveo-sprites-documentType-renewed-not,
.coveo-sprites-documentType-project-name,
.coveo-sprites-documentType-product,
.coveo-sprites-documentType-priority,
.coveo-sprites-documentType-poll,
.coveo-sprites-documentType-planned,
.coveo-sprites-documentType-pending,
.coveo-sprites-documentType-pdf,
.coveo-sprites-documentType-opportunity,
.coveo-sprites-documentType-open,
.coveo-sprites-documentType-note,
.coveo-sprites-documentType-not-started,
.coveo-sprites-documentType-new,
.coveo-sprites-documentType-negociation,
.coveo-sprites-documentType-music-file,
.coveo-sprites-documentType-minor,
.coveo-sprites-documentType-manager,
.coveo-sprites-documentType-major,
.coveo-sprites-documentType-mail,
.coveo-sprites-documentType-mail-undeliverable,
.coveo-sprites-documentType-mail-reply,
.coveo-sprites-documentType-mail-recall,
.coveo-sprites-documentType-lost,
.coveo-sprites-documentType-link,
.coveo-sprites-documentType-lead,
.coveo-sprites-documentType-language,
.coveo-sprites-documentType-kb,
.coveo-sprites-documentType-journal-log,
.coveo-sprites-documentType-jobtitle,
.coveo-sprites-documentType-invalid,
.coveo-sprites-documentType-intranet,
.coveo-sprites-documentType-install,
.coveo-sprites-documentType-immediate,
.coveo-sprites-documentType-image,
.coveo-sprites-documentType-high,
.coveo-sprites-documentType-from,
.coveo-sprites-documentType-folder,
.coveo-sprites-documentType-fixed,
.coveo-sprites-documentType-file,
.coveo-sprites-documentType-feature,
.coveo-sprites-documentType-faq,
.coveo-sprites-documentType-expert,
.coveo-sprites-documentType-escalated,
.coveo-sprites-documentType-draft,
.coveo-sprites-documentType-doc-user,
.coveo-sprites-documentType-doc-dev,
.coveo-sprites-documentType-disqualified,
.coveo-sprites-documentType-deferred,
.coveo-sprites-documentType-default,
.coveo-sprites-documentType-database,
.coveo-sprites-documentType-crash,
.coveo-sprites-documentType-contract,
.coveo-sprites-documentType-contact,
.coveo-sprites-documentType-completed,
.coveo-sprites-documentType-competition,
.coveo-sprites-documentType-company,
.coveo-sprites-documentType-comment,
.coveo-sprites-documentType-closed,
.coveo-sprites-documentType-city,
.coveo-sprites-documentType-chatter,
.coveo-sprites-documentType-case,
.coveo-sprites-documentType-cant-reproduce,
.coveo-sprites-documentType-cancelled,
.coveo-sprites-documentType-campaign,
.coveo-sprites-documentType-bug-severity,
.coveo-sprites-documentType-blog,
.coveo-sprites-documentType-block,
.coveo-sprites-documentType-author,
.coveo-sprites-documentType-audience,
.coveo-sprites-documentType-approved,
.coveo-sprites-documentType-answer,
.coveo-sprites-documentType-announcement,
.coveo-sprites-documentType-all-content,
.coveo-sprites-documentType-advanced-content,
.coveo-sprites-documentType-account,
.coveo-sprites-documentType-account-salesforce,
.coveo-sprites-documentType-XML,
.coveo-sprites-documentType-RSS,
.coveo-sprites-common-menu_reauthenticate,
.coveo-sprites-common-doritos,
.coveo-sprites-common-delete,
.coveo-sprites-common-datepicker,
.coveo-sprites-common-copy,
.coveo-sprites-common-amount,
.coveo-sprites-facet-arrow_back,
.coveo-sprites-quickView-close,
.coveo-sprites-facet-clear_facet_state,
.coveo-sprites-facet-resume_selected,
.coveo-sprites-facet-resume_disable,
.coveo-sprites-facet-disable,
.coveo-sprites-facet-clear_facetsearch_mobile,
.coveo-sprites-facet-clear_activefilter,
.coveo-sprites-facet-checkmark_unselected,
.coveo-sprites-facet-checkmark_selected,
.coveo-sprites-facet-checkmark_disabled,
.coveo-sprites-common-tagging_tag,
.coveo-sprites-common-clear-mobile,
.coveo-sprites-facet-spin_facet_search,
.coveo-sprites-facet-facetsearch,
.coveo-sprites-facet-clear_facetsearch,
.coveo-sprites-common-tagging_ok,
.coveo-sprites-common-tagging-cancel_clear,
.coveo-sprites-facet-showmore,
.coveo-sprites-facet-showless,
.coveo-sprites-facet-email_sendto,
.coveo-sprites-sort-sortby_top,
.coveo-sprites-sort-sortby_bottom{background-image:url('../image/retina.png');@include inline-block;background-repeat:no-repeat;overflow:hidden;background-size: 608px * 0.5 588px * 0.5;}
.coveo-sprites-common-get_started{background-position:0px * 0.5 0px * 0.5;width:320px * 0.5;height:230px * 0.5;text-indent:320px * 0.5;}
.coveo-sprites-common-logo_light_large{background-position:0px * 0.5 -230px * 0.5;width:220px * 0.5;height:74px * 0.5;text-indent:220px * 0.5;}
.coveo-sprites-common-coveo{background-position:-320px * 0.5 0px * 0.5;width:192px * 0.5;height:68px * 0.5;text-indent:192px * 0.5;}
.coveo-sprites-common-poweredbycoveo{background-position:-320px * 0.5 -68px * 0.5;width:180px * 0.5;height:64px * 0.5;text-indent:180px * 0.5;}
.coveo-sprites-common-logo_light{background-position:-320px * 0.5 -132px * 0.5;width:142px * 0.5;height:52px * 0.5;text-indent:142px * 0.5;}
.coveo-sprites-preferencesPanel-toggle_on{background-position:-320px * 0.5 -184px * 0.5;width:84px * 0.5;height:40px * 0.5;text-indent:84px * 0.5;}
.coveo-sprites-preferencesPanel-toggle_off{background-position:-404px * 0.5 -184px * 0.5;width:84px * 0.5;height:40px * 0.5;text-indent:84px * 0.5;}
.coveo-sprites-common-login_user{background-position:-462px * 0.5 -132px * 0.5;width:48px * 0.5;height:48px * 0.5;text-indent:48px * 0.5;}
.coveo-sprites-common-lock{background-position:-320px * 0.5 -224px * 0.5;width:48px * 0.5;height:48px * 0.5;text-indent:48px * 0.5;}
.coveo-sprites-facet-openinterfaces{background-position:-368px * 0.5 -224px * 0.5;width:46px * 0.5;height:32px * 0.5;text-indent:46px * 0.5;}
.coveo-sprites-facet-openfacets{background-position:-414px * 0.5 -224px * 0.5;width:46px * 0.5;height:32px * 0.5;text-indent:46px * 0.5;}
.coveo-sprites-searchButton-searchbutton{background-position:-220px * 0.5 -230px * 0.5;width:36px * 0.5;height:36px * 0.5;text-indent:36px * 0.5;}
.coveo-sprites-common-thumbup_inactive{background-position:-256px * 0.5 -230px * 0.5;width:36px * 0.5;height:36px * 0.5;text-indent:36px * 0.5;}
.coveo-sprites-common-thumbup:active{background-position:-220px * 0.5 -266px * 0.5;width:36px * 0.5;height:36px * 0.5;text-indent:36px * 0.5;}
.coveo-sprites-common-thumbdown_inactive{background-position:-256px * 0.5 -266px * 0.5;width:36px * 0.5;height:36px * 0.5;text-indent:36px * 0.5;}
.coveo-sprites-common-thumbdown:active{background-position:0px * 0.5 -304px * 0.5;width:36px * 0.5;height:36px * 0.5;text-indent:36px * 0.5;}
.coveo-sprites-common-system{background-position:-36px * 0.5 -304px * 0.5;width:36px * 0.5;height:36px * 0.5;text-indent:36px * 0.5;}
.coveo-sprites-common-star_placeholder{background-position:-72px * 0.5 -304px * 0.5;width:36px * 0.5;height:36px * 0.5;text-indent:36px * 0.5;}
.coveo-sprites-common-star_inactive{background-position:-108px * 0.5 -304px * 0.5;width:36px * 0.5;height:36px * 0.5;text-indent:36px * 0.5;}
.coveo-sprites-common-star:active{background-position:-144px * 0.5 -304px * 0.5;width:36px * 0.5;height:36px * 0.5;text-indent:36px * 0.5;}
.coveo-sprites-common-settings{background-position:-180px * 0.5 -304px * 0.5;width:36px * 0.5;height:36px * 0.5;text-indent:36px * 0.5;}
.coveo-sprites-tab-sharepoint{background-position:-460px * 0.5 -224px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-tab-salesforce{background-position:-320px * 0.5 -272px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-tab-lithium{background-position:-352px * 0.5 -272px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-tab-jira{background-position:-384px * 0.5 -272px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-tab-googledrive{background-position:-416px * 0.5 -272px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-tab-email{background-position:-448px * 0.5 -272px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-tab-dropbox{background-position:-480px * 0.5 -272px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-tab-checkmark_selected-on_dark_bg{background-position:-216px * 0.5 -304px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-tab-all-content{background-position:-248px * 0.5 -304px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-searchButton-spin{background-position:-280px * 0.5 -304px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-quickView-quickview_previous{background-position:-312px * 0.5 -304px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-quickView-quickview_next{background-position:-344px * 0.5 -304px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-quickView-quickview{background-position:-376px * 0.5 -304px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-queryBox-clear{background-position:-408px * 0.5 -304px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-preferencesPanel-table-edit{background-position:-440px * 0.5 -304px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-preferencesPanel-table-delete{background-position:-472px * 0.5 -304px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-preferencesPanel-table-cancel{background-position:0px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-preferencesPanel-table-apply{background-position:-32px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-preferencesPanel-menu_preferences{background-position:-64px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-pager-previous{background-position:-96px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-pager-next{background-position:-128px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-menu-menu_sortdirection{background-position:-160px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-menu-menu_sortby{background-position:-192px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-menu-menu_shareresult{background-position:-224px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-menu-menu_searchin{background-position:-256px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-menu-menu_saveoption{background-position:-288px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-menu-menu_opencontactinfoin{background-position:-320px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-menu-menu_avancedsearch{background-position:-352px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-user{background-position:-384px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-thread{background-position:-416px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-task{background-position:-448px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-rss{background-position:-480px * 0.5 -340px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-product{background-position:0px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-opportunity{background-position:-32px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-note{background-position:-64px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-message{background-position:-96px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-lead{background-position:-128px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-kb{background-position:-160px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-contract{background-position:-192px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-contact{background-position:-224px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-comment{background-position:-256px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-case{background-position:-288px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-campaign{background-position:-320px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-board{background-position:-352px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-answer{background-position:-384px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-objectType-account{background-position:-416px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-formats-zip{background-position:-448px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-formats-xml{background-position:-480px * 0.5 -372px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-formats-video{background-position:0px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-formats-text{background-position:-32px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-formats-spreadsheet{background-position:-64px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-formats-slideshow{background-position:-96px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-formats-pdf{background-position:-128px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-formats-image{background-position:-160px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-formats-html{background-position:-192px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-fileType-formats-folder{background-position:-224px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-facet-spin{background-position:-256px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-facet-show_facet{background-position:-288px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-facet-moreoption{background-position:-320px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-facet-modeor{background-position:-352px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-facet-modeand{background-position:-384px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-facet-expanded{background-position:-416px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-facet-collapsed{background-position:-448px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-facet-clear_facet{background-position:-480px * 0.5 -404px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-zip{background-position:0px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-year{background-position:-32px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-won{background-position:-64px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-webpage{background-position:-96px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-video{background-position:-128px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-user{background-position:-160px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-urgent{background-position:-192px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-troubleshooting{background-position:-224px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-topic{background-position:-256px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-to{background-position:-288px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-timeline{background-position:-320px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-text{background-position:-352px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-task{background-position:-384px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-suspended{background-position:-416px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-support{background-position:-448px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-status{background-position:-480px * 0.5 -436px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-started{background-position:0px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-stage{background-position:-32px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-spreadsheet{background-position:-64px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-source{background-position:-96px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-slideshow{background-position:-128px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-secure{background-position:-160px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-salesforce{background-position:-192px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-reviewed{background-position:-224px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-resolved{background-position:-256px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-report{background-position:-288px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-renewed{background-position:-320px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-renewed-not{background-position:-352px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-project-name{background-position:-384px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-product{background-position:-416px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-priority{background-position:-448px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-poll{background-position:-480px * 0.5 -468px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-planned{background-position:-512px * 0.5 0px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-pending{background-position:-512px * 0.5 -32px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-pdf{background-position:-512px * 0.5 -64px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-opportunity{background-position:-512px * 0.5 -96px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-open{background-position:-512px * 0.5 -128px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-note{background-position:-512px * 0.5 -160px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-not-started{background-position:-512px * 0.5 -192px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-new{background-position:-512px * 0.5 -224px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-negociation{background-position:-512px * 0.5 -256px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-music-file{background-position:-512px * 0.5 -288px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-minor{background-position:-512px * 0.5 -320px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-manager{background-position:-512px * 0.5 -352px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-major{background-position:-512px * 0.5 -384px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-mail{background-position:-512px * 0.5 -416px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-mail-undeliverable{background-position:-512px * 0.5 -448px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-mail-reply{background-position:0px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-mail-recall{background-position:-32px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-lost{background-position:-64px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-link{background-position:-96px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-lead{background-position:-128px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-language{background-position:-160px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-kb{background-position:-192px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-journal-log{background-position:-224px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-jobtitle{background-position:-256px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-invalid{background-position:-288px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-intranet{background-position:-320px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-install{background-position:-352px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-immediate{background-position:-384px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-image{background-position:-416px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-high{background-position:-448px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-from{background-position:-480px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-folder{background-position:-512px * 0.5 -500px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-fixed{background-position:-544px * 0.5 0px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-file{background-position:-544px * 0.5 -32px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-feature{background-position:-544px * 0.5 -64px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-faq{background-position:-544px * 0.5 -96px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-expert{background-position:-544px * 0.5 -128px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-escalated{background-position:-544px * 0.5 -160px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-draft{background-position:-544px * 0.5 -192px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-doc-user{background-position:-544px * 0.5 -224px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-doc-dev{background-position:-544px * 0.5 -256px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-disqualified{background-position:-544px * 0.5 -288px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-deferred{background-position:-544px * 0.5 -320px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-default{background-position:-544px * 0.5 -352px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-database{background-position:-544px * 0.5 -384px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-crash{background-position:-544px * 0.5 -416px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-contract{background-position:-544px * 0.5 -448px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-contact{background-position:-544px * 0.5 -480px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-completed{background-position:0px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-competition{background-position:-32px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-company{background-position:-64px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-comment{background-position:-96px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-closed{background-position:-128px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-city{background-position:-160px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-chatter{background-position:-192px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-case{background-position:-224px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-cant-reproduce{background-position:-256px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-cancelled{background-position:-288px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-campaign{background-position:-320px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-bug-severity{background-position:-352px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-blog{background-position:-384px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-block{background-position:-416px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-author{background-position:-448px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-audience{background-position:-480px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-approved{background-position:-512px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-answer{background-position:-544px * 0.5 -532px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-announcement{background-position:-576px * 0.5 0px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-all-content{background-position:-576px * 0.5 -32px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-advanced-content{background-position:-576px * 0.5 -64px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-account{background-position:-576px * 0.5 -96px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-account-salesforce{background-position:-576px * 0.5 -128px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-XML{background-position:-576px * 0.5 -160px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-documentType-RSS{background-position:-576px * 0.5 -192px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-common-menu_reauthenticate{background-position:-576px * 0.5 -224px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-common-doritos{background-position:-576px * 0.5 -256px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-common-delete{background-position:-576px * 0.5 -288px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-common-datepicker{background-position:-576px * 0.5 -320px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-common-copy{background-position:-576px * 0.5 -352px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-common-amount{background-position:-576px * 0.5 -384px * 0.5;width:32px * 0.5;height:32px * 0.5;text-indent:32px * 0.5;}
.coveo-sprites-facet-arrow_back{background-position:-576px * 0.5 -416px * 0.5;width:18px * 0.5;height:29px * 0.5;text-indent:18px * 0.5;}
.coveo-sprites-quickView-close{background-position:-576px * 0.5 -445px * 0.5;width:28px * 0.5;height:19px * 0.5;text-indent:28px * 0.5;}
.coveo-sprites-facet-clear_facet_state{background-position:-576px * 0.5 -464px * 0.5;width:28px * 0.5;height:28px * 0.5;text-indent:28px * 0.5;}
.coveo-sprites-facet-resume_selected{background-position:-576px * 0.5 -492px * 0.5;width:24px * 0.5;height:24px * 0.5;text-indent:24px * 0.5;}
.coveo-sprites-facet-resume_disable{background-position:-576px * 0.5 -516px * 0.5;width:24px * 0.5;height:24px * 0.5;text-indent:24px * 0.5;}
.coveo-sprites-facet-disable{background-position:-576px * 0.5 -540px * 0.5;width:24px * 0.5;height:24px * 0.5;text-indent:24px * 0.5;}
.coveo-sprites-facet-clear_facetsearch_mobile{background-position:-488px * 0.5 -184px * 0.5;width:24px * 0.5;height:24px * 0.5;text-indent:24px * 0.5;}
.coveo-sprites-facet-clear_activefilter{background-position:-292px * 0.5 -230px * 0.5;width:24px * 0.5;height:24px * 0.5;text-indent:24px * 0.5;}
.coveo-sprites-facet-checkmark_unselected{background-position:-292px * 0.5 -266px * 0.5;width:24px * 0.5;height:24px * 0.5;text-indent:24px * 0.5;}
.coveo-sprites-facet-checkmark_selected{background-position:0px * 0.5 -564px * 0.5;width:24px * 0.5;height:24px * 0.5;text-indent:24px * 0.5;}
.coveo-sprites-facet-checkmark_disabled:hover{background-position:-24px * 0.5 -564px * 0.5;width:24px * 0.5;height:24px * 0.5;text-indent:24px * 0.5;}
.coveo-sprites-facet-checkmark_disabled{background-position:-48px * 0.5 -564px * 0.5;width:24px * 0.5;height:24px * 0.5;text-indent:24px * 0.5;}
.coveo-sprites-common-tagging_tag{background-position:-72px * 0.5 -564px * 0.5;width:24px * 0.5;height:24px * 0.5;text-indent:24px * 0.5;}
.coveo-sprites-common-clear-mobile{background-position:-96px * 0.5 -564px * 0.5;width:24px * 0.5;height:24px * 0.5;text-indent:24px * 0.5;}
.coveo-sprites-facet-spin_facet_search{background-position:-544px * 0.5 -512px * 0.5;width:20px * 0.5;height:20px * 0.5;text-indent:20px * 0.5;}
.coveo-sprites-facet-facetsearch{background-position:-512px * 0.5 -480px * 0.5;width:20px * 0.5;height:20px * 0.5;text-indent:20px * 0.5;}
.coveo-sprites-facet-clear_facetsearch{background-position:-492px * 0.5 -224px * 0.5;width:20px * 0.5;height:20px * 0.5;text-indent:20px * 0.5;}
.coveo-sprites-common-tagging_ok{background-position:-120px * 0.5 -564px * 0.5;width:20px * 0.5;height:20px * 0.5;text-indent:20px * 0.5;}
.coveo-sprites-common-tagging-cancel_clear{background-position:-140px * 0.5 -564px * 0.5;width:20px * 0.5;height:20px * 0.5;text-indent:20px * 0.5;}
.coveo-sprites-facet-showmore{background-position:-488px * 0.5 -208px * 0.5;width:16px * 0.5;height:16px * 0.5;text-indent:16px * 0.5;}
.coveo-sprites-facet-showless{background-position:-368px * 0.5 -256px * 0.5;width:16px * 0.5;height:16px * 0.5;text-indent:16px * 0.5;}
.coveo-sprites-facet-email_sendto{background-position:-384px * 0.5 -256px * 0.5;width:16px * 0.5;height:16px * 0.5;text-indent:16px * 0.5;}
.coveo-sprites-sort-sortby_top{background-position:-594px * 0.5 -416px * 0.5;width:12px * 0.5;height:12px * 0.5;text-indent:12px * 0.5;}
.coveo-sprites-sort-sortby_bottom{background-position:-594px * 0.5 -428px * 0.5;width:12px * 0.5;height:12px * 0.5;text-indent:12px * 0.5;}
