/* glue: 0.3 hash: c86bb08808 */
.coveo-sprites-common-get_started,
.coveo-sprites-common-coveo-cloud,
.coveo-sprites-common-logo_light_large,
.coveo-sprites-quickView-coveo_colorbox_border1,
.coveo-sprites-common-coveo,
.coveo-sprites-common-poweredbycoveo,
.coveo-sprites-common-logo_light,
.coveo-sprites-quickView-coveo_colorbox_border2,
.coveo-sprites-preferencesPanel-toggle_on,
.coveo-sprites-preferencesPanel-toggle_off,
.coveo-sprites-common-checkbox_inactive,
.coveo-sprites-common-checkbox:active,
.coveo-sprites-common-login_user,
.coveo-sprites-common-lock,
.coveo-sprites-facet-openinterfaces,
.coveo-sprites-facet-openfacets,
.coveo-sprites-searchButton-searchbutton,
.coveo-sprites-common-thumbup_inactive,
.coveo-sprites-common-thumbup:active,
.coveo-sprites-common-thumbdown_inactive,
.coveo-sprites-common-thumbdown:active,
.coveo-sprites-common-system,
.coveo-sprites-common-star_placeholder,
.coveo-sprites-common-star_inactive,
.coveo-sprites-common-star:active,
.coveo-sprites-common-settings,
.coveo-sprites-tabGroup-show_more,
.coveo-sprites-tab-sharepoint,
.coveo-sprites-tab-salesforce,
.coveo-sprites-tab-lithium,
.coveo-sprites-tab-jira,
.coveo-sprites-tab-googledrive,
.coveo-sprites-tab-email,
.coveo-sprites-tab-dropbox,
.coveo-sprites-tab-checkmark_selected-on_dark_bg,
.coveo-sprites-tab-all-content,
.coveo-sprites-searchButton-spin,
.coveo-sprites-searchButton-searchbutton_gray,
.coveo-sprites-quickView-quickview_previous,
.coveo-sprites-quickView-quickview_next,
.coveo-sprites-quickView-quickview,
.coveo-sprites-queryBox-clear,
.coveo-sprites-preferencesPanel-table-edit,
.coveo-sprites-preferencesPanel-table-delete,
.coveo-sprites-preferencesPanel-table-cancel,
.coveo-sprites-preferencesPanel-table-apply,
.coveo-sprites-preferencesPanel-menu_preferences,
.coveo-sprites-menu-menu_sortdirection,
.coveo-sprites-menu-menu_sortby,
.coveo-sprites-menu-menu_shareresult,
.coveo-sprites-menu-menu_searchin,
.coveo-sprites-menu-menu_saveoption,
.coveo-sprites-menu-menu_opencontactinfoin,
.coveo-sprites-menu-menu_avancedsearch,
.coveo-sprites-fileType-sharepoint-workflowhistory,
.coveo-sprites-fileType-sharepoint-wikipagelibrary,
.coveo-sprites-fileType-sharepoint-whereabout,
.coveo-sprites-fileType-sharepoint-user,
.coveo-sprites-fileType-sharepoint-translationmanagementlibrary,
.coveo-sprites-fileType-sharepoint-thingstobring,
.coveo-sprites-fileType-sharepoint-textbox,
.coveo-sprites-fileType-sharepoint-task,
.coveo-sprites-fileType-sharepoint-survey,
.coveo-sprites-fileType-sharepoint-slidelibrary,
.coveo-sprites-fileType-sharepoint-sitedirectory,
.coveo-sprites-fileType-sharepoint-site,
.coveo-sprites-fileType-sharepoint-resource,
.coveo-sprites-fileType-sharepoint-reportlibrary,
.coveo-sprites-fileType-sharepoint-recordlibrary,
.coveo-sprites-fileType-sharepoint-projecttask,
.coveo-sprites-fileType-sharepoint-picturelibrary,
.coveo-sprites-fileType-sharepoint-phonecallmemo,
.coveo-sprites-fileType-sharepoint-performancepointcontent,
.coveo-sprites-fileType-sharepoint-objective,
.coveo-sprites-fileType-sharepoint-meeting,
.coveo-sprites-fileType-sharepoint-listfolder,
.coveo-sprites-fileType-sharepoint-link,
.coveo-sprites-fileType-sharepoint-languagesandtranslator,
.coveo-sprites-fileType-sharepoint-keyperformanceindicator,
.coveo-sprites-fileType-sharepoint-issue,
.coveo-sprites-fileType-sharepoint-ipfs,
.coveo-sprites-fileType-sharepoint-imedictionary,
.coveo-sprites-fileType-sharepoint-healthrule,
.coveo-sprites-fileType-sharepoint-healthreport,
.coveo-sprites-fileType-sharepoint-formlibrary,
.coveo-sprites-fileType-sharepoint-event,
.coveo-sprites-fileType-sharepoint-documentset,
.coveo-sprites-fileType-sharepoint-documentlibrary,
.coveo-sprites-fileType-sharepoint-discussionboard,
.coveo-sprites-fileType-sharepoint-decision,
.coveo-sprites-fileType-sharepoint-datasource,
.coveo-sprites-fileType-sharepoint-dataconnectionlibraryforperfpoint,
.coveo-sprites-fileType-sharepoint-dataconnectionlibrary,
.coveo-sprites-fileType-sharepoint-dashboardlibrary,
.coveo-sprites-fileType-sharepoint-customgrid,
.coveo-sprites-fileType-sharepoint-custom,
.coveo-sprites-fileType-sharepoint-contact,
.coveo-sprites-fileType-sharepoint-circulation,
.coveo-sprites-fileType-sharepoint-blogpost,
.coveo-sprites-fileType-sharepoint-blogcomment,
.coveo-sprites-fileType-sharepoint-blogcategory,
.coveo-sprites-fileType-sharepoint-attendees,
.coveo-sprites-fileType-sharepoint-assetlibrary,
.coveo-sprites-fileType-sharepoint-arealisting,
.coveo-sprites-fileType-sharepoint-area,
.coveo-sprites-fileType-sharepoint-announcement,
.coveo-sprites-fileType-sharepoint-agenda,
.coveo-sprites-fileType-objectType-user,
.coveo-sprites-fileType-objectType-thread,
.coveo-sprites-fileType-objectType-task,
.coveo-sprites-fileType-objectType-rss,
.coveo-sprites-fileType-objectType-product,
.coveo-sprites-fileType-objectType-partner,
.coveo-sprites-fileType-objectType-opportunity,
.coveo-sprites-fileType-objectType-note,
.coveo-sprites-fileType-objectType-message,
.coveo-sprites-fileType-objectType-lead,
.coveo-sprites-fileType-objectType-kb,
.coveo-sprites-fileType-objectType-file,
.coveo-sprites-fileType-objectType-event,
.coveo-sprites-fileType-objectType-contract,
.coveo-sprites-fileType-objectType-contact,
.coveo-sprites-fileType-objectType-comment,
.coveo-sprites-fileType-objectType-category,
.coveo-sprites-fileType-objectType-case,
.coveo-sprites-fileType-objectType-campaign,
.coveo-sprites-fileType-objectType-board,
.coveo-sprites-fileType-objectType-attachment,
.coveo-sprites-fileType-objectType-answer,
.coveo-sprites-fileType-objectType-account,
.coveo-sprites-fileType-formats-zip,
.coveo-sprites-fileType-formats-xml,
.coveo-sprites-fileType-formats-video,
.coveo-sprites-fileType-formats-text,
.coveo-sprites-fileType-formats-spreadsheet,
.coveo-sprites-fileType-formats-slideshow,
.coveo-sprites-fileType-formats-pdf,
.coveo-sprites-fileType-formats-image,
.coveo-sprites-fileType-formats-html,
.coveo-sprites-fileType-formats-folder,
.coveo-sprites-fileType-exchange-user,
.coveo-sprites-fileType-exchange-task,
.coveo-sprites-fileType-exchange-rss,
.coveo-sprites-fileType-exchange-note,
.coveo-sprites-fileType-exchange-message,
.coveo-sprites-fileType-exchange-message-undeliverable,
.coveo-sprites-fileType-exchange-message-recall,
.coveo-sprites-fileType-exchange-message-junk,
.coveo-sprites-fileType-exchange-meeting,
.coveo-sprites-fileType-exchange-group,
.coveo-sprites-fileType-exchange-generic,
.coveo-sprites-fileType-exchange-file,
.coveo-sprites-fileType-exchange-communicator,
.coveo-sprites-fileType-exchange-appointment,
.coveo-sprites-fileType-exchange-activity,
.coveo-sprites-facet-spin,
.coveo-sprites-facet-show_facet,
.coveo-sprites-facet-moreoption,
.coveo-sprites-facet-modeor,
.coveo-sprites-facet-modeand,
.coveo-sprites-facet-expanded,
.coveo-sprites-facet-collapsed,
.coveo-sprites-facet-clear_facet,
.coveo-sprites-documentType-zip,
.coveo-sprites-documentType-year,
.coveo-sprites-documentType-yammer,
.coveo-sprites-documentType-xml,
.coveo-sprites-documentType-won,
.coveo-sprites-documentType-webpage,
.coveo-sprites-documentType-video,
.coveo-sprites-documentType-user,
.coveo-sprites-documentType-urgent,
.coveo-sprites-documentType-troubleshooting,
.coveo-sprites-documentType-topic,
.coveo-sprites-documentType-to,
.coveo-sprites-documentType-timeline,
.coveo-sprites-documentType-text,
.coveo-sprites-documentType-task,
.coveo-sprites-documentType-suspended,
.coveo-sprites-documentType-support,
.coveo-sprites-documentType-status,
.coveo-sprites-documentType-started,
.coveo-sprites-documentType-stage,
.coveo-sprites-documentType-spreadsheet,
.coveo-sprites-documentType-source,
.coveo-sprites-documentType-slideshow,
.coveo-sprites-documentType-sharepoint,
.coveo-sprites-documentType-setting,
.coveo-sprites-documentType-secure,
.coveo-sprites-documentType-salesforce,
.coveo-sprites-documentType-rss,
.coveo-sprites-documentType-reviewed,
.coveo-sprites-documentType-resolved,
.coveo-sprites-documentType-report,
.coveo-sprites-documentType-renewed,
.coveo-sprites-documentType-renewed-not,
.coveo-sprites-documentType-project-name,
.coveo-sprites-documentType-product,
.coveo-sprites-documentType-priority,
.coveo-sprites-documentType-poll,
.coveo-sprites-documentType-planned,
.coveo-sprites-documentType-pending,
.coveo-sprites-documentType-pdf,
.coveo-sprites-documentType-opportunity,
.coveo-sprites-documentType-open,
.coveo-sprites-documentType-note,
.coveo-sprites-documentType-not-started,
.coveo-sprites-documentType-new,
.coveo-sprites-documentType-negociation,
.coveo-sprites-documentType-need-feedback,
.coveo-sprites-documentType-music-file,
.coveo-sprites-documentType-msproject,
.coveo-sprites-documentType-minor,
.coveo-sprites-documentType-manager,
.coveo-sprites-documentType-major,
.coveo-sprites-documentType-mail,
.coveo-sprites-documentType-mail-undeliverable,
.coveo-sprites-documentType-mail-reply,
.coveo-sprites-documentType-mail-recall,
.coveo-sprites-documentType-lost,
.coveo-sprites-documentType-link,
.coveo-sprites-documentType-lead,
.coveo-sprites-documentType-language,
.coveo-sprites-documentType-kb,
.coveo-sprites-documentType-journal-log,
.coveo-sprites-documentType-jobtitle,
.coveo-sprites-documentType-invalid,
.coveo-sprites-documentType-intranet,
.coveo-sprites-documentType-install,
.coveo-sprites-documentType-industry,
.coveo-sprites-documentType-immediate,
.coveo-sprites-documentType-image,
.coveo-sprites-documentType-how-to,
.coveo-sprites-documentType-high,
.coveo-sprites-documentType-from,
.coveo-sprites-documentType-folder,
.coveo-sprites-documentType-fixed,
.coveo-sprites-documentType-filter,
.coveo-sprites-documentType-file,
.coveo-sprites-documentType-feature,
.coveo-sprites-documentType-faq,
.coveo-sprites-documentType-expert,
.coveo-sprites-documentType-event,
.coveo-sprites-documentType-escalated,
.coveo-sprites-documentType-draft,
.coveo-sprites-documentType-doc-user,
.coveo-sprites-documentType-doc-dev,
.coveo-sprites-documentType-docadmin,
.coveo-sprites-documentType-disqualified,
.coveo-sprites-documentType-deferred,
.coveo-sprites-documentType-default,
.coveo-sprites-documentType-database,
.coveo-sprites-documentType-crash,
.coveo-sprites-documentType-contract,
.coveo-sprites-documentType-contact,
.coveo-sprites-documentType-completed,
.coveo-sprites-documentType-competition,
.coveo-sprites-documentType-company,
.coveo-sprites-documentType-comment,
.coveo-sprites-documentType-closed,
.coveo-sprites-documentType-city,
.coveo-sprites-documentType-chatter,
.coveo-sprites-documentType-category,
.coveo-sprites-documentType-case,
.coveo-sprites-documentType-cant-reproduce,
.coveo-sprites-documentType-cancelled,
.coveo-sprites-documentType-campaign,
.coveo-sprites-documentType-bug-severity,
.coveo-sprites-documentType-blog,
.coveo-sprites-documentType-block,
.coveo-sprites-documentType-author,
.coveo-sprites-documentType-audience,
.coveo-sprites-documentType-attachment,
.coveo-sprites-documentType-approved,
.coveo-sprites-documentType-answer,
.coveo-sprites-documentType-announcement,
.coveo-sprites-documentType-all-content,
.coveo-sprites-documentType-advanced-content,
.coveo-sprites-documentType-account,
.coveo-sprites-documentType-account-salesforce,
.coveo-sprites-common-menu_shareresult,
.coveo-sprites-common-menu_reauthenticate,
.coveo-sprites-common-doritos,
.coveo-sprites-common-delete,
.coveo-sprites-common-datepicker,
.coveo-sprites-common-copy,
.coveo-sprites-common-clear,
.coveo-sprites-common-amount,
.coveo-sprites-facet-arrow_back,
.coveo-sprites-quickView-close,
.coveo-sprites-facet-clear_facet_state,
.coveo-sprites-facet-resume_selected,
.coveo-sprites-facet-resume_disable,
.coveo-sprites-facet-disable,
.coveo-sprites-facet-clear_facetsearch_mobile,
.coveo-sprites-facet-clear_activefilter,
.coveo-sprites-facet-child_selected,
.coveo-sprites-facet-checkmark_unselected,
.coveo-sprites-facet-checkmark_selected,
.coveo-sprites-facet-checkmark_disabled,
.coveo-sprites-common-tagging_tag,
.coveo-sprites-common-clear-mobile,
.coveo-sprites-pager-previous,
.coveo-sprites-pager-next,
.coveo-sprites-folding-showmore,
.coveo-sprites-folding-showless,
.coveo-sprites-facet-spin_facet_search,
.coveo-sprites-facet-facetsearch,
.coveo-sprites-facet-clear_facetsearch,
.coveo-sprites-common-tagging_ok,
.coveo-sprites-common-tagging-cancel_delete,
.coveo-sprites-common-tagging-cancel_clear,
.coveo-sprites-folding-email_sendto,
.coveo-sprites-facet-showmore,
.coveo-sprites-facet-showless,
.coveo-sprites-facet-email_sendto,
.coveo-sprites-common-small_x,
.coveo-sprites-sort-sortby_top,
.coveo-sprites-sort-sortby_bottom{background-image:url('../image/sprites.png');display:inline-block;background-repeat:no-repeat;overflow:hidden;}
.coveo-sprites-common-get_started{background-position:0px 0px;width:160px;height:115px;text-indent:160px;}
.coveo-sprites-common-coveo-cloud{background-position:-160px 0px;width:131px;height:48px;text-indent:131px;}
.coveo-sprites-common-logo_light_large{background-position:-160px -48px;width:110px;height:37px;text-indent:110px;}
.coveo-sprites-quickView-coveo_colorbox_border1{background-position:0px -115px;width:50px;height:98px;text-indent:50px;}
.coveo-sprites-common-coveo{background-position:-50px -115px;width:97px;height:34px;text-indent:97px;}
.coveo-sprites-common-poweredbycoveo{background-position:-147px -115px;width:90px;height:32px;text-indent:90px;}
.coveo-sprites-common-logo_light{background-position:-160px -85px;width:71px;height:26px;text-indent:71px;}
.coveo-sprites-quickView-coveo_colorbox_border2{background-position:-231px -85px;width:50px;height:1px;text-indent:50px;}
.coveo-sprites-preferencesPanel-toggle_on{background-position:-231px -86px;width:42px;height:20px;text-indent:42px;}
.coveo-sprites-preferencesPanel-toggle_off{background-position:-237px -115px;width:42px;height:20px;text-indent:42px;}
.coveo-sprites-common-checkbox_inactive{background-position:-50px -149px;width:42px;height:20px;text-indent:42px;}
.coveo-sprites-common-checkbox:active{background-position:-92px -149px;width:42px;height:20px;text-indent:42px;}
.coveo-sprites-common-login_user{background-position:-50px -169px;width:24px;height:24px;text-indent:24px;}
.coveo-sprites-common-lock{background-position:-74px -169px;width:24px;height:24px;text-indent:24px;}
.coveo-sprites-facet-openinterfaces{background-position:-134px -149px;width:23px;height:16px;text-indent:23px;}
.coveo-sprites-facet-openfacets{background-position:-157px -149px;width:23px;height:16px;text-indent:23px;}
.coveo-sprites-searchButton-searchbutton{background-position:-270px -48px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-thumbup_inactive{background-position:-270px -66px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-thumbup:active{background-position:-273px -86px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-thumbdown_inactive{background-position:-98px -169px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-thumbdown:active{background-position:-116px -169px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-system{background-position:-134px -169px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-star_placeholder{background-position:-152px -169px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-star_inactive{background-position:-170px -169px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-star:active{background-position:-188px -169px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-common-settings{background-position:-206px -169px;width:18px;height:18px;text-indent:18px;}
.coveo-sprites-tabGroup-show_more{background-position:-180px -149px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-tab-sharepoint{background-position:-196px -149px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-tab-salesforce{background-position:-212px -149px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-tab-lithium{background-position:-228px -149px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-tab-jira{background-position:-244px -149px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-tab-googledrive{background-position:-260px -149px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-tab-email{background-position:-224px -169px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-tab-dropbox{background-position:-240px -169px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-tab-checkmark_selected-on_dark_bg{background-position:-256px -169px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-tab-all-content{background-position:-272px -169px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-searchButton-spin{background-position:-50px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-searchButton-searchbutton_gray{background-position:-66px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-quickView-quickview_previous{background-position:-82px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-quickView-quickview_next{background-position:-98px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-quickView-quickview{background-position:-114px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-queryBox-clear{background-position:-130px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-preferencesPanel-table-edit{background-position:-146px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-preferencesPanel-table-delete{background-position:-162px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-preferencesPanel-table-cancel{background-position:-178px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-preferencesPanel-table-apply{background-position:-194px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-preferencesPanel-menu_preferences{background-position:-210px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_sortdirection{background-position:-226px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_sortby{background-position:-242px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_shareresult{background-position:-258px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_searchin{background-position:-274px -193px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_saveoption{background-position:0px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_opencontactinfoin{background-position:-16px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-menu-menu_avancedsearch{background-position:-32px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-workflowhistory{background-position:-48px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-wikipagelibrary{background-position:-64px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-whereabout{background-position:-80px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-user{background-position:-96px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-translationmanagementlibrary{background-position:-112px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-thingstobring{background-position:-128px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-textbox{background-position:-144px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-task{background-position:-160px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-survey{background-position:-176px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-slidelibrary{background-position:-192px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-sitedirectory{background-position:-208px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-site{background-position:-224px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-resource{background-position:-240px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-reportlibrary{background-position:-256px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-recordlibrary{background-position:-272px -213px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-projecttask{background-position:0px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-picturelibrary{background-position:-16px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-phonecallmemo{background-position:-32px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-performancepointcontent{background-position:-48px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-objective{background-position:-64px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-meeting{background-position:-80px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-listfolder{background-position:-96px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-link{background-position:-112px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-languagesandtranslator{background-position:-128px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-keyperformanceindicator{background-position:-144px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-issue{background-position:-160px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-ipfs{background-position:-176px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-imedictionary{background-position:-192px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-healthrule{background-position:-208px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-healthreport{background-position:-224px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-formlibrary{background-position:-240px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-event{background-position:-256px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-documentset{background-position:-272px -229px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-documentlibrary{background-position:0px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-discussionboard{background-position:-16px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-decision{background-position:-32px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-datasource{background-position:-48px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-dataconnectionlibraryforperfpoint{background-position:-64px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-dataconnectionlibrary{background-position:-80px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-dashboardlibrary{background-position:-96px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-customgrid{background-position:-112px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-custom{background-position:-128px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-contact{background-position:-144px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-circulation{background-position:-160px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-blogpost{background-position:-176px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-blogcomment{background-position:-192px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-blogcategory{background-position:-208px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-attendees{background-position:-224px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-assetlibrary{background-position:-240px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-arealisting{background-position:-256px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-area{background-position:-272px -245px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-announcement{background-position:0px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-sharepoint-agenda{background-position:-16px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-user{background-position:-32px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-thread{background-position:-48px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-task{background-position:-64px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-rss{background-position:-80px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-product{background-position:-96px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-partner{background-position:-112px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-opportunity{background-position:-128px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-note{background-position:-144px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-message{background-position:-160px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-lead{background-position:-176px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-kb{background-position:-192px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-file{background-position:-208px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-event{background-position:-224px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-contract{background-position:-240px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-contact{background-position:-256px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-comment{background-position:-272px -261px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-category{background-position:-291px 0px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-case{background-position:-291px -16px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-campaign{background-position:-291px -32px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-board{background-position:-291px -48px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-attachment{background-position:-291px -64px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-answer{background-position:-291px -80px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-objectType-account{background-position:-291px -96px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-formats-zip{background-position:-291px -112px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-formats-xml{background-position:-291px -128px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-formats-video{background-position:-291px -144px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-formats-text{background-position:-291px -160px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-formats-spreadsheet{background-position:-291px -176px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-formats-slideshow{background-position:-291px -192px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-formats-pdf{background-position:-291px -208px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-formats-image{background-position:-291px -224px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-formats-html{background-position:-291px -240px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-formats-folder{background-position:-291px -256px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-user{background-position:0px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-task{background-position:-16px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-rss{background-position:-32px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-note{background-position:-48px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-message{background-position:-64px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-message-undeliverable{background-position:-80px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-message-recall{background-position:-96px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-message-junk{background-position:-112px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-meeting{background-position:-128px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-group{background-position:-144px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-generic{background-position:-160px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-file{background-position:-176px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-communicator{background-position:-192px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-appointment{background-position:-208px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-fileType-exchange-activity{background-position:-224px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-spin{background-position:-240px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-show_facet{background-position:-256px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-moreoption{background-position:-272px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-modeor{background-position:-288px -277px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-modeand{background-position:-307px 0px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-expanded{background-position:-307px -16px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-collapsed{background-position:-307px -32px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-clear_facet{background-position:-307px -48px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-zip{background-position:-307px -64px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-year{background-position:-307px -80px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-yammer{background-position:-307px -96px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-xml{background-position:-307px -112px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-won{background-position:-307px -128px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-webpage{background-position:-307px -144px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-video{background-position:-307px -160px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-user{background-position:-307px -176px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-urgent{background-position:-307px -192px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-troubleshooting{background-position:-307px -208px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-topic{background-position:-307px -224px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-to{background-position:-307px -240px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-timeline{background-position:-307px -256px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-text{background-position:-307px -272px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-task{background-position:0px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-suspended{background-position:-16px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-support{background-position:-32px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-status{background-position:-48px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-started{background-position:-64px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-stage{background-position:-80px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-spreadsheet{background-position:-96px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-source{background-position:-112px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-slideshow{background-position:-128px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-sharepoint{background-position:-144px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-setting{background-position:-160px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-secure{background-position:-176px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-salesforce{background-position:-192px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-rss{background-position:-208px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-reviewed{background-position:-224px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-resolved{background-position:-240px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-report{background-position:-256px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-renewed{background-position:-272px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-renewed-not{background-position:-288px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-project-name{background-position:-304px -293px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-product{background-position:-323px 0px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-priority{background-position:-323px -16px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-poll{background-position:-323px -32px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-planned{background-position:-323px -48px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-pending{background-position:-323px -64px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-pdf{background-position:-323px -80px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-opportunity{background-position:-323px -96px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-open{background-position:-323px -112px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-note{background-position:-323px -128px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-not-started{background-position:-323px -144px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-new{background-position:-323px -160px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-negociation{background-position:-323px -176px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-need-feedback{background-position:-323px -192px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-music-file{background-position:-323px -208px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-msproject{background-position:-323px -224px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-minor{background-position:-323px -240px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-manager{background-position:-323px -256px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-major{background-position:-323px -272px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-mail{background-position:-323px -288px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-mail-undeliverable{background-position:0px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-mail-reply{background-position:-16px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-mail-recall{background-position:-32px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-lost{background-position:-48px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-link{background-position:-64px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-lead{background-position:-80px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-language{background-position:-96px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-kb{background-position:-112px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-journal-log{background-position:-128px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-jobtitle{background-position:-144px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-invalid{background-position:-160px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-intranet{background-position:-176px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-install{background-position:-192px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-industry{background-position:-208px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-immediate{background-position:-224px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-image{background-position:-240px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-how-to{background-position:-256px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-high{background-position:-272px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-from{background-position:-288px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-folder{background-position:-304px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-fixed{background-position:-320px -309px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-filter{background-position:-339px 0px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-file{background-position:-339px -16px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-feature{background-position:-339px -32px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-faq{background-position:-339px -48px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-expert{background-position:-339px -64px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-event{background-position:-339px -80px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-escalated{background-position:-339px -96px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-draft{background-position:-339px -112px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-doc-user{background-position:-339px -128px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-doc-dev{background-position:-339px -144px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-docadmin{background-position:-339px -160px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-disqualified{background-position:-339px -176px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-deferred{background-position:-339px -192px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-default{background-position:-339px -208px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-database{background-position:-339px -224px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-crash{background-position:-339px -240px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-contract{background-position:-339px -256px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-contact{background-position:-339px -272px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-completed{background-position:-339px -288px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-competition{background-position:-339px -304px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-company{background-position:0px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-comment{background-position:-16px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-closed{background-position:-32px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-city{background-position:-48px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-chatter{background-position:-64px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-category{background-position:-80px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-case{background-position:-96px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-cant-reproduce{background-position:-112px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-cancelled{background-position:-128px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-campaign{background-position:-144px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-bug-severity{background-position:-160px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-blog{background-position:-176px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-block{background-position:-192px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-author{background-position:-208px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-audience{background-position:-224px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-attachment{background-position:-240px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-approved{background-position:-256px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-answer{background-position:-272px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-announcement{background-position:-288px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-all-content{background-position:-304px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-advanced-content{background-position:-320px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-account{background-position:-336px -325px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-documentType-account-salesforce{background-position:-355px 0px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-menu_shareresult{background-position:-355px -16px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-menu_reauthenticate{background-position:-355px -32px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-doritos{background-position:-355px -48px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-delete{background-position:-355px -64px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-datepicker{background-position:-355px -80px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-copy{background-position:-355px -96px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-clear{background-position:-355px -112px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-common-amount{background-position:-355px -128px;width:16px;height:16px;text-indent:16px;}
.coveo-sprites-facet-arrow_back{background-position:-355px -144px;width:9px;height:15px;text-indent:9px;}
.coveo-sprites-quickView-close{background-position:-355px -159px;width:14px;height:10px;text-indent:14px;}
.coveo-sprites-facet-clear_facet_state{background-position:-355px -169px;width:14px;height:14px;text-indent:14px;}
.coveo-sprites-facet-resume_selected{background-position:-355px -183px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-resume_disable{background-position:-355px -195px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-disable{background-position:-355px -207px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-clear_facetsearch_mobile{background-position:-355px -219px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-clear_activefilter{background-position:-355px -231px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-child_selected{background-position:-355px -243px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-checkmark_unselected{background-position:-355px -255px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-checkmark_selected{background-position:-355px -267px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-checkmark_disabled:hover{background-position:-355px -279px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-facet-checkmark_disabled{background-position:-355px -291px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-common-tagging_tag{background-position:-355px -303px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-common-clear-mobile{background-position:-355px -315px;width:12px;height:12px;text-indent:12px;}
.coveo-sprites-pager-previous{background-position:-355px -327px;width:11px;height:11px;text-indent:11px;}
.coveo-sprites-pager-next{background-position:-279px -115px;width:11px;height:11px;text-indent:11px;}
.coveo-sprites-folding-showmore{background-position:-237px -135px;width:11px;height:11px;text-indent:11px;}
.coveo-sprites-folding-showless{background-position:-248px -135px;width:11px;height:11px;text-indent:11px;}
.coveo-sprites-facet-spin_facet_search{background-position:-259px -135px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-facet-facetsearch{background-position:-269px -135px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-facet-clear_facetsearch{background-position:-279px -135px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-common-tagging_ok{background-position:-276px -149px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-common-tagging-cancel_delete{background-position:0px -341px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-common-tagging-cancel_clear{background-position:-10px -341px;width:10px;height:10px;text-indent:10px;}
.coveo-sprites-folding-email_sendto{background-position:-279px -126px;width:8px;height:8px;text-indent:8px;}
.coveo-sprites-facet-showmore{background-position:-20px -341px;width:8px;height:8px;text-indent:8px;}
.coveo-sprites-facet-showless{background-position:-28px -341px;width:8px;height:8px;text-indent:8px;}
.coveo-sprites-facet-email_sendto{background-position:-36px -341px;width:8px;height:8px;text-indent:8px;}
.coveo-sprites-common-small_x{background-position:-44px -341px;width:8px;height:8px;text-indent:8px;}
.coveo-sprites-sort-sortby_top{background-position:-364px -144px;width:6px;height:6px;text-indent:6px;}
.coveo-sprites-sort-sortby_bottom{background-position:-364px -150px;width:6px;height:6px;text-indent:6px;}
